Source: python-toolbox2
Priority: optional
Section: python
Maintainer: Nicolas Delvaux <nicolas.delvaux@cji.paris>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools,
               python3-docutils
Standards-Version: 3.9.6

Package: python3-toolbox2
Architecture: all
Section: python
Depends: ${python3:Depends},
         ${misc:Depends},
         ffmpeg-static (>= 1.0)
Recommends: sjconf-toolbox2,
            kt-toolbox (>= 1.0.4),
            ommedia (>= 6.4.1),
            flvtool2 (>= 1.0.6),
            bmx (>= 0.1.2),
            qt-faststart-static (>= 1.0)
Description: Toolbox2 python3 module
 Generic interface to describe and manage actions on media assets.

Package: toolbox2
Architecture: all
Section: python
Depends: ${misc:Depends},
         python3-toolbox2 (= ${binary:Version})
Description: Toolbox2 python3 module
 Generic interface to describe and manage ac
 This package contains the Python3 binding.

