Source: python-toolbox2
Priority: optional
Section: python
Maintainer: Nicolas Delvaux <nicolas.delvaux@cji.paris>
Uploaders: Alexandre Lemaitre <alexandre.lemaitre@cji.paris>
Build-Depends: debhelper (>= 9),
               python-all (>= 2.6.6-3~),
               python-setuptools,
               python-docutils
X-Python-Version: >= 2.6
Standards-Version: 3.9.6

Package: python-toolbox2
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         ffmpeg-static (>= 1.0)
Recommends: sjconf-toolbox2,
            kt-toolbox (>= 1.0.4),
            ommedia (>= 6.4.1),
            flvtool2 (>= 1.0.6),
            bmx (>= 0.1.2),
            qt-faststart-static (>= 1.0)
Description: Toolbox2 python module
 Generic interface to describe and manage actions on media assets.

Package: toolbox2
Architecture: all
Depends: ${misc:Depends},
         python-toolbox2 (= ${binary:Version})
Description: Toolbox2 python module
 Generic interface to describe and manage ac
 This package contains the Python binding.

