Source: python-toolbox2
XS-Python-Version: >= 2.6
Priority: optional
Section: python
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Matthieu Bouron <matthieu.bouron@smartjog.com>, Stéphane Kanschine <stephane.kanschine@smartjog.com>, Rémi Cardona <remi.cardona@smartjog.com>
Build-Depends: cdbs (>= 0.4.89), debhelper (>= 8), python-central (>= 0.6), txt2tags
Standards-Version: 3.9.1

Package: python-toolbox2
XB-Python-Version: ${python:Versions}
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ffmpeg-static (>= 0.11~), kt-toolbox (>= 1.0.4)
Recommends: sjconf-toolbox2
Description: SmartJog toolbox2 python module
 Module that provide generic interfaces to describe and manage actions.
